.title {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 1;
    margin-top: 0;
    color: rgb(129, 152, 179);
    text-transform: uppercase;
    text-align: justify;
}